<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>sleeptech-나비잠</title>
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

    <!-- graph -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://kit.fontawesome.com/def66b134a.js"></script>
    <!-- web site icon-->
    <link rel="icon" href="../static/images/logo.jpg">


</head>

<body>
    <div class="container">

        <!--────────────────Header───────────────-->
        <header>
            <nav>
                <ul class="nav-bar">
                    <div class="bg"></div>
                    <li><a class="nav-link active" href="#home">Home</a></li>
                    <li><a class="nav-link" href="#contact">Project</a></li>
                    <li><a class="nav-link" href="#developer">Developer</a></li>
                </ul>

            </nav>
        </header>
        <main>
            <!--─────────────────Home────────────────-->
            <div id="home">
                <div class="filter"></div>

                <section class="intro">
                    <h3>나비잠
                        <hr>
                    </h3>
                    <p>2022년도 슬립테크 공모전</p>
                    <br>
                    <h4>Introduce</h4>
                    <p>인공지능 개발을 하기 전 적절한 AI 모델링을 하기 위해 <br>AI Hub의 라이프 로그 데이터 수집 및 데이터 를 한곳에다 <br>모으는 것을 도와줄 프로그램 을
                        작성 및
                        프레임 워크 구축을 하는 것에 목표를 둠.</p>
                    <!--────social media links─────-->

                    <div class="social-media">
                        <a href="https://github.com/PJO2004/sleep_tech" target="_blank"><i
                                class='fab fa-github'></i></a>
                        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </section>
            </div>

            <!--───────────────Project───────────────-->
            <div id="contact">
                <h3>수면 데이터 기반 인공지능을 활용한 수면의 질 관리 시스템.
                    <hr>
                </h3>
                <p>&lt;동기&gt;</p>
                <p>인공지능을 활용해 수면의 질을 관리할 수 있다면 보다 적극적이고 구체적으로 수면을 위한<br>
                    계획을 세울 수 있을 것. 기존에도 수면을 위한 연구들이 있었으나, 분석에 시간이 많이 걸리<br>
                    고 단순 수식으로는 방대한 양의 정보를 다루는 데 한계가 있음. AI를 이용하면 빠른 시간 내<br>
                    에 많은 정보를 더 정확하게 분석할 수 있음.</p>
                <p>&lt;창업 목표&gt;</p>
                <p>기존 수면에 대한 연구를 인공지능과 실시간으로 수집하는 웨어러블 데이터들을 토대로 연<br>
                    구를 촉진 시키며, 더 정확하고 빠르게 수면 주기와 패턴을 분석, <br>
                    분석한 데이터를 활용하여 사용자들의 쾌적한 수면을 돕는 것에 목표를 둠</p>
                <!-- 
                <p>{{data}}</p>> -->

                <div>
                    <a href="http://127.0.0.1:8000/docs" class="button">CSV File Uploader</a>
                </div>
                <div>
                    <!--──────────────graph──────────────────-->

                    <div id="tester" style="width:50%; height:500px">
                        
                        <script>
                            TESTER = document.getElementById('tester')

                            Plotly.plot(TESTER,
                                [{
                                    x: ['nia+106@rowan.kr', 'nia+252@rowan.kr', 'nia+067@rowan.kr', 'nia+141@rowan.kr', 'nia+016@rowan.kr', 'nia+188@rowan.kr',
                                        'nia+279@rowan.kr', 'nia+343@rowan.kr', 'nia+181@rowan.kr', 'nia+118@rowan.kr', 'nia+041@rowan.kr', 'nia+354@rowan.kr',
                                        'nia+268@rowan.kr', 'nia+438@rowan.kr', 'nia+088@rowan.kr', 'nia+144@rowan.kr',
                                    ],
                                    y: [91, 88, 75, 69, 67, 65, 64, 62, 62, 62, 60, 57, 57, 43, 42, 36]
                                }], { margin: { t: 10 } }, { showSendToCloud: true });

                            console.log(Plotly.BUILD)
                        </script>
                    </div>
                </div>
                <!--──────────────developer────────────────-->
                <div id="developer">
                    <h3>developer
                        <hr>
                    </h3>
                    <p>박정원, 김준희, 이수아</p>

                    <div class="work-box">
                        <div class="work">
                            <!--───────────────card───────────────-->
                            <div class="card">
                                <img class="work-img" src="https://avatars.githubusercontent.com/u/59524278?v=4">
                                <a href="https://github.com/PJO2004" target="_blank">
                                    <!--Link to project-->
                                    <div class="work-content">Jungwon Park<br>
                                        <h6>Database기능 시스템<br>DashBoard & backend</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <img class="work-img" src="https://avatars.githubusercontent.com/u/94216945?v=4">
                                <a href="https://github.com/leesuaok" target="_blank">
                                    <!--Link to project-->
                                    <div class="work-content">leesuaok<br>
                                        <h6>FastAPI 기능 구현<br>css데이터 자동 추출 기능 구현</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="card">
                                <img class="work-img" src="https://avatars.githubusercontent.com/u/58096790?v=4">
                                <a href="https://github.com/WasabiRaman" target="_blank">
                                    <!--Link to project-->
                                    <div class="work-content">JoonheeKim<br>
                                        <h6>Framework구축<br>frontend</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="social-media">
                    <a href="https://github.com/PJO2004/sleep_tech" target="_blank"><i class='fab fa-github'></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

        </main>
        <footer class="copyright">© 2022
            <a href="https://www.sleep-tech.co.kr/" target="_blank"> sleep tech.</a>
        </footer>

    </div>
</body>

</html>